#Contact {
  height: auto;
  overflow-x: hidden;
  display: block;
}
#Contact.visible .Contact_wrap {
  opacity: 1;
  width: 70%;
}

.Contact_container {
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1500px;
  margin: auto;
  width: 100%;
  min-height: 960px;
  top: 0;
  padding-top: 60px;
  padding-bottom: 70px;
  
}

.Contact_container .Contact_wrap {
  opacity: 0;
}

.Contact_container .row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    box-sizing: border-box;
}

.Contact_container .section-title h2{
  text-align: center;
  font-size: 2.7rem;
}


.Contact .contact-info-item {
  
  flex: 0 0 50%;
  max-width: 50%;
  text-align: center;
  margin-bottom: 60px;
}

.Contact .contact-info-item .icon {
  display: inline-block;
}

.Contact .contact-info-item .icon .fa {
  font-size: 25px;
  color: rgb(156, 107, 212);
}

.contact-sub-title {
  margin-bottom: 10px;
}
.Contact .contact-info-item h4 {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-black-900);
  text-transform: capitalize;
  margin: 15px 0 5px;
}

.Contact .contact-info-item p {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
  font-weight: 400;
}

.Contact .contact-form {
  flex: 0 0 100%;
  max-width: 100%;
}

.Contact .contact-form .col-6 {
  flex: 0 0 50%;
  max-width: 50%;
  justify-content: space-between;
  
}




.Contact .contact-form .col-12 {
  max-width: 100%;
}

.Contact .contact-form .form-item {
  margin-bottom: 30px;
  width: 100%;
}

.Contact .contact-form .form-item .form-control {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #fff;
  border: 1px solid var(--bg-black-50);
  box-sizing: border-box;
  padding: 10px 25px;
  font-size: 16px;
  color: var(--text-black-700);
  transition: all 0.3s ease;
}

.Contact .contact-form .form-item .form-control:focus {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15)
}

.Contact .contact-form .form-item textarea.form-control {
  height: 140px;
}

.Contact .contact-form .brn {
  height: 50px;
  padding: 0 50px;
}


.colors {
  cursor: pointer;
}

.Contact_container .copyright {
  position: absolute;
  bottom: 50px;
  font-size: 0.9rem;
  font-weight: 300;
  color: #7D7D82;
}

@media (max-width: 900px) {
  
  #Contact .Contact_wrap {
    padding-top: 30px ;
  }
  .Contact .contact-info-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
  
}

@media (max-width: 767px) {
  .Contact .contact-form .col-6,
  .Contact .contact-info-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  #Contact h1 {
    margin-top: 180px ;
  }
  #Contact .Contact_wrap {
    width: 90% ;
    min-width: none ;
    max-width: none ;
    margin: 0 auto ;
  }

  .Contact_wrap.visible {
    padding-top: 15px ;
  }

  #Contact .Contact_wrap p {
    font-size: 1.1rem ;
    text-align: center ;
  }
  
  #Contact .copyright {
    font-size: 0.9rem ;
    bottom: 20px;
  }
 
}/*# sourceMappingURL=contact.css.map */